@font-face {
  font-family: 'Montserrat-bold';
  src: url('../fonts/montserrat-bold-webfont.eot'); /* IE9 */
  src: url('../fonts/montserrat-bold-webfont.woff') format('woff'), /* Modern browsers */
       url('../fonts/montserrat-bold-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat-regular';
  src: url('../fonts/montserrat-regular-webfont.eot'); /* IE9 */
  src: url('../fonts/montserrat-regular-webfont.woff') format('woff'), /* Modern browsers */
       url('../fonts/montserrat-regular-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Didot';
  src: url('../fonts/32494F_0_0.woff') format('woff'); /* Modern browsers */
}

@import url('https://fonts.googleapis.com/css?family=Vollkorn');
